.content_wrapper {
    width: 100vw;
    height: calc( 100vh - 94px );
    background-color: #252E4F;
    position: relative;
    z-index: 1;
    max-width: 100vw;
    max-height: calc( 100vh - 94px);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}