body {
    background-color: #336B87;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.monokai_black {
    background-color: #272822;
}

.monokai_pink {
    background-color: #F92672;
}

.monokai_teal {
    background-color: #66D9EF;
}

.monokai_green {
    background-color: #A6E22E;
}

.monokai_orange {
    background-color: #FD971F;
}

.modal {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
    background-color: #20293F;
    margin: 75px auto;
    border: 1px solid black;
    width: 90%;
    height: calc(100% - 100px);
    display: flex;
    flex-flow: column nowrap;
}

.modal_topBar {
    background-color: #20293F;
    border-bottom: 1px solid black;
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}

.modal_title {
    margin-left: 15px;
}

.modal_close {
    padding: 5px 15px 5px 15px;
    font-size: 30px;
    cursor: pointer;
}

.modal_close:hover {
    background-color: rgb(20, 25, 39);
    color: grey;
}

.modal_actionBar {
    background-color: #20293F;
    border-bottom: 1px solid black;
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: aliceblue;
}

.modal_tab {
    padding: 9px 15px 8px 15px;
    cursor: pointer;
}

.modal_tab:hover {
    background-color: rgb(20, 25, 39);
    color: grey;
}

.modal_selectedTab {
    background-color: rgb(20, 25, 39);
    color: grey;
}

.modal_contentWrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
}

.modal_subActionBar {
    background-color: #2E334F;
    border-right: 1px solid black;
    width: 300px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.modal_actionTab {
    padding: 20px;
    color: aliceblue;
    cursor: pointer;
}

.modal_actionTab:hover {
    background-color: #23273b;
    color: grey;
}

.modal_selectedActionTab {
    background-color: #23273b;
    color: grey;
}

.modal_infoContent {
    background-color: #252E4F;
    width: 100%;
    height: 100%;
}

#inputFile {
    display: none;
}

.modal_hiddenOption {
    display: none;
}