.toolbar_wrapper {
    background-color: #20293F;
    width: 100vw;
    height: 50px;
    box-shadow: 0px 3px 20px 0px #0a1920;
    z-index: 10;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.toolbar_mainicon {
    margin: 10px;
    font-size: 25px;
    color: aliceblue;
}

.toolbar_mainbutton {
    cursor: pointer;
}

.toolbar_buttons {
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.toolbar_button_item {
    height: 100%;
    width: 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 7px 3px 7px 3px;
    cursor: pointer;
}

.toolbar_button_item:hover {
    background-color: #171d2e;
    color: grey;
}

.toolbar_button_item i {
    font-size: 20px;
}

.toolbar_button_item span {
    margin-top: 2px;
    font-size: 12px;
}

.toolbar_extra {
    margin: 10px;
    font-size: 20px;
    color: aliceblue;
}