.windowbar_wrapper {
    background-color: #171d2e;
    width: 100vw;
    height: 21px;
    text-align: center;
    border-bottom: 1px solid black;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    color: white;
}