.description_wrapper {
    background-color: #2E334F;
    display: flex;
    flex-wrap: nowrap;
}

.description_content {
    height: 100%;
    width: 395px;
}

.description_resizer {
    height: 100%;
    width: 5px;
    z-index: 15;
    cursor: ew-resize;
}