.navigation_wrapper {
    background-color: #2E334F;
    display: flex;
    flex-wrap: nowrap;
}

.navigation_content {
    height: 100%;
    width: 195px;
}

.navigation_resizer {
    height: 100%;
    width: 5px;
    z-index: 15;
    cursor: ew-resize;
}