.selection_wrapper {
    background-color: #252E4F;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.selection_welcome {
    color: white;
    margin: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.welcome_text {
    margin: 15px;
}

.cards_wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.selection_card {
    width: 250px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 3px 3px 15px 0px #0a1920;
    margin: 20px;
    cursor: pointer;
    color: #272822;
    font-size: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.card_icon {
    margin: 5px;
    font-size: 25px;
}