.treeview_wrapper {
    background-color: #252E4F;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.commit_wrapper {
    display: flex;
    flex-flow: row nowrap;
    line-height: 30px;
}

.commit_branch{
    min-width: 50px;
}

.commit_node {
    width: 15px;
	height: 15px;
    border-radius: 50px;
    background: blue;
    color: aliceblue;
    font-size: 10px;
}

.commit_message {
    margin-left: 30px;
    color: white;
}

.branch1 {
    color: #66D9EF;
}

.branch2 {
    color: #A6E22E;
    margin-left: 60px;
}

.branch3 {
    color: #FD971F;
    margin-left: 90px;
}

.branch4 {
    color: #F92672;
    margin-left: 120px;
}

.branch5 {
    color: #66D9EF;
    margin-left: 150px;
}

.branch6 {
    color: #A6E22E;
}

.branch7 {
    color: #FD971F;
}

.branch8 {
    color: #F92672;
}

.branch9 {
    color: #66D9EF;
}