<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="author" content="Leandro Kim">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gud Git</title>
	<!-- STYLES -->
	<link rel="stylesheet" type="text/css" href="./styles/index.css">
	<link rel="stylesheet" type="text/css" href="./styles/windowbar.css">
	<link rel="stylesheet" type="text/css" href="./styles/toolbar.css">
	<link rel="stylesheet" type="text/css" href="./styles/content.css">
	<link rel="stylesheet" type="text/css" href="./styles/bottombar.css">
	<link rel="stylesheet" type="text/css" href="./styles/content/navigation.css">
	<link rel="stylesheet" type="text/css" href="./styles/content/treeview.css">
	<link rel="stylesheet" type="text/css" href="./styles/content/description.css">
	<link rel="stylesheet" type="text/css" href="./styles/content/selection.css">
	<link rel="stylesheet" type="text/css" href="./libraries/vanillatoasts.css">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	 crossorigin="anonymous">

	<!-- LIBRARIES -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript" src="./libraries/vanillatoasts.js"></script>
</head>

<body>
	<!-- WINDOWBAR NOT LINUX  -->
	<!-- TODO LINUX DISABLE THIS -->
	<div id="windowBarVueApp" class="windowbar_wrapper" v-on:dblclick="maximizeWindow($event)">
		<img src="./assets/logo.png" alt="G" height="15" width="15"> <span>GitGud</span>
	</div>
	<!-- TOOLBAR -->
	<div id="toolbarVueApp" class="toolbar_wrapper">
		<div class="toolbar_mainbutton">
			<div v-on:click="showRepositoryModal($event)">
				<i class="fas fa-folder-open toolbar_mainicon"></i>
			</div>
		</div>
		<div class="toolbar_buttons" :disabled="true">
			<div class="toolbar_button_item"><i class="fas fa-arrow-down"></i><span>pull</span></div>
			<div class="toolbar_button_item"><i class="fas fa-arrow-up"></i><span>push</span></div>
			<div class="toolbar_button_item"><i class="fas fa-code-branch"></i><span>branch</span></div>
			<div class="toolbar_button_item"><i class="fas fa-download"></i><span>stash</span></div>
			<div class="toolbar_button_item"><i class="fas fa-upload"></i><span>pop</span></div>
		</div>
		<div class="toolbar_extra">
			<i class="fas fa-cogs"></i>
		</div>
	</div>
	<!-- MAIN CONTENT -->
	<div id="contentVueApp" class="content_wrapper" @mousemove="barResizeUpdate($event)" @mouseleave="barStopResize($event)"
	 @mouseup="barStopResize($event)">
		<div class="navigation_wrapper" v-if="projectOpened">
			<div class="navigation_content">
				navigation
			</div>
			<div class="navigation_resizer" @mousedown="navBarStartResize($event)"></div>
		</div>
		<div class="treeview_wrapper" v-if="projectOpened">
			<div class="commit_wrapper" v-for="commit in gitTree">
				<div class="commit_branch"></div>
				<div class="commit_node" v-bind:class="commit.class">{{commit.hash}}</div>
				<div class="commit_message">{{commit.message}}</div>
			</div>
		</div>
		<div class="description_wrapper" v-if="projectOpened">
			<div class="description_resizer" @mousedown="descriptionBarStartResize($event)"></div>
			<div class="description_content">
				description
			</div>
		</div>
		<div class="selection_wrapper" v-else>
			<div class="selection_welcome">
				<img src="./assets/logo.png" alt="G" height="75" width="75">
				<span id="r3" class="welcome_text">Ready to git gud with GitGud?!</span>
			</div>
			<div class="cards_wrapper">
				<div v-on:click="showRepositoryModal($event)" class="selection_card monokai_teal">
					<i class="fas fa-folder-open card_icon"></i>
					<span>Open a repository</span>
				</div>
				<div class="selection_card monokai_green">
					<i class="fas fa-hdd card_icon"></i>
					<span>Start a local repository</span>
				</div>
				<div class="selection_card monokai_orange">
					Coming Soon...
				</div>
			</div>
		</div>
	</div>
	<!-- BOTTOMBAR -->
	<div class="bottombar_wrapper">
		bottombar
	</div>
	<!-- REPOSITORY MODAL -->
	<div id="repositoryModal" class="modal">
		<div class="modal_content">
			<div class="modal_topBar">
				<h3 class="modal_title">
					Repository
				</h3>
				<div class="modal_close" v-on:click="closeRepositoryModal($event)">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<div class="modal_actionBar">
				<div class="modal_tab modal_selectedTab">
					Open
				</div>
				<div class="modal_tab">
					Clone
				</div>
				<div class="modal_tab">
					Init
				</div>
			</div>
			<div class="modal_contentWrapper">
				<div class="modal_subActionBar">
					<div class="">
						<input id="inputFile" type="file" onchange="getfolder(event)" webkitdirectory />
						<div class="modal_actionTab" v-on:click="openRepository($event)">
							Open repository
						</div>
						<div class="modal_actionTab modal_selectedActionTab">
							Recent repositories
						</div>
					</div>
				</div>
				<div class="modal_infoContent">
					<div class="">
						Coming soon
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODULES -->
	<script type="text/javascript" src="./controllers/modules.js"></script>
	<!-- https://github.com/steveukx/git-js -->
	<script type="text/javascript" src="./controllers/index.js"></script>
	<script type="text/javascript" src="./controllers/windowbar.js"></script>
	<script type="text/javascript" src="./controllers/content.js"></script>
	<script type="text/javascript" src="./controllers/toolbar.js"></script>
	<script type="text/javascript" src="./controllers/modal.js"></script>
</body>

</html>